[2018-08-08 21:15] tsongas opened #3 "Complete example not working for me"
I'm new to Formik and interested in react-formik-ui as it looks super helpful, but the example isn't working for me either in my own app, or when I set it up by itself in Sandbox Editor. Please see:

[https://codesandbox.io/s/045v1vxpvl](https://codesandbox.io/s/045v1vxpvl)

Each field is throwing an error `TypeError Cannot read property 'fieldname' of undefined`

[2018-08-26 05:36] KaiHotz commented on #3
@tsongas this issue is due to the new context API used in Formik and cannot be reached. There for I had to role back to previous version. Tu use react-formik-ui please use Formik up to version 1.0.0-alpha.6

[2018-08-26 05:38] #3 closed

[2018-10-03 07:59] rohit-sourcefuse opened #5 "Example is not working"
**Facing this issue :**
[code]

Package versions :
Formik : formik@1.3.0
React Formik UI : react-formik-ui@0.2.1

[2018-10-03 08:28] KaiHotz commented on #5
@rohit-sourcefuse react-formik-ui is not compatible with the latest version of Formi, pleas install v1.0.0-alpha.6
run: `npm install --save formik@1.0.0-alpha.6`

[2018-10-03 08:30] #5 closed

[2019-01-04 13:56] crizant opened #6 "Support for current version of formik"
First of all, thank you for creating this library for `formik`.
I have noticed that `react-formik-ui` does not work with current version of `formik`, so do you plan to support it?
Or do you accept PRs? If no, do you mind if I fork this repo and publish my own version of it on npm?

[2019-01-04 14:03] KaiHotz commented on #6
Hi thanks for reaching out, yes i was looking to update it to support the latest version of Formik but ran into problems with the new context api. I gladly accept contributions and  PRs

[2019-01-04 14:06] crizant commented on #6
I haven't look into your source code yet, but as far as I know, you may not need to touch the context API thing:
https://jaredpalmer.com/formik/docs/api/connect

Just wrap your component with this `connect()` function, then you can access the `formik` object from `this.props`.

[2019-01-04 14:09] KaiHotz commented on #6
yes i had looked into that, but to make it work i would need to have Formik as a dependency in my library. The idea is to not have Formik as a Dependency but just as a Peer Dependency since it needs to installed in the Project that consumes React-Formik-UI

[2019-01-04 14:38] KaiHotz commented on #6
@crizant Well by including Formik into my library and using the connect HOC, the Reference to the  Formik state is different as the one in the Project where you want to use my library

[2019-01-04 15:30] KaiHotz commented on #6
@crizant Tried that already, did not work, you are more than welcome to play around with it, I'lll have look at it again during this weekend and hopefully we can come up with a solution

[2019-01-20 09:00] KaiHotz commented on #6
@crizant Hi i created a Branch `Support for current version of formik` . I integrated the `connect` method but  it returns an empty object on the `formik` prop. Maybe I'm doing something wrong or the problem is that `formik` does not expose their context.

[2019-01-20 09:46] crizant commented on #6
How do you test if the prop is empty? Did you wrap the component inside a formik <Form> component?

[2019-01-20 10:08] KaiHotz commented on #6
No, i  created a creat-react-app  installed `formik` and imported the library locally, then i just set up a Formik form and consumed the component. this is how i could see that the formik prop is an empty object on the connected components

[2019-01-20 11:40] KaiHotz commented on #6
@crizant tested and released v1.2.1 support for latest Formik

[2019-01-20 11:41] #6 closed

[2019-02-02 07:35] amitbravo opened #10 "Datepicker is not behaving well with time"
I need enable timepicker too for my date picker but its always selecting 12:00 AM , looks like its not supporting time.
[code]

[2019-02-02 08:07] KaiHotz commented on #10
@amitbravo should be fixed now, please update to latest version (v1.2.4)

[2019-02-02 09:52] amitbravo commented on #10
thanks. It's the quickest fix I ever seen.

[2019-02-09 09:31] ptrobert opened #14 "input text box full width not changing"
**Describe the bug**
created a class with fullwidth true, passed the same to className,
Input text field full width is not coming.

[2019-02-09 10:10] KaiHotz commented on #14
could you please share your code ?

[2019-02-09 10:22] KaiHotz commented on #14
@ptrobert  anyhow if you are on the lates version (2.1.0) and using the default mode without any styling and structure your css should look like this:
[code]
In case you use structured mode the `Input` should have adjusted by itself to the width of your containing `div`

[2019-02-09 10:25] KaiHotz commented on #14
@ptrobert anyhow this is not a `BUG` you can clearly see that your class gets added to component in the developer console of your browser, you just need to target the correct element with your css.

Therefore this Issue will be closed

[2019-02-09 10:25] #14 closed

[2019-02-12 11:32] ptrobert commented on #14
Sorry for the late reply, you are right this is not a bug, when we apply structured we are definetly seeing classes getting applied even custom className passed was also applied its all about applying the right css class, which we are still trying to figure out, we are using material-ui, if you can provide any help it will be great

[2019-02-12 17:06] KaiHotz commented on #14
@ptrobert It is sort of hard to help without seeing your code or at lest some code example.I never tired it with Material-UI, but i know that Material-UI  uses JSS maybe this might be an issue. You might want to have a look at the Themed mode instead of Structured, then you actually get styles applied that are very similar to Material-UI

[2019-02-19 14:02] MarcCoet opened #16 "DatePicker: Error Maximum update depth exceeded"
**Version**
react-formik-ui: 2.2.0
react: 16.8.1
**Mode** Default

**Describe the bug**
On Firefox, selecting a date in the DatePicker crashes the whole app.
On Midori browser (Webkit based) it is even worse. It crashes when we clic on the input.
Apparently it is a known issue in react-datepicker
https://github.com/Hacker0x01/react-datepicker/issues/1565

**To Reproduce**
1. Create a component
[co

[2019-02-19 15:01] MarcCoet commented on #16
Sorry I don't have time to make a pull request or dig deeper but here is a working example using react-datepicker directly:
[code]

I am far from being a Formik expert (which is precisely why I use react-formik-ui ;) ) so there may be a few things I am missing.
From my experiments it seems the problem comes from initialization and the `selected` prop on `DatePicker`. checking for falsy values and

[2019-02-19 18:02] KaiHotz commented on #16
@MarcCoet found the issue, just committed and release the fix in version 2.2.1

[2019-02-19 18:16] MarcCoet commented on #16
Thanks. It is super nice to see how much you are committed to maintain and improve this.
I needed to fix this quickly for a client and now it is behind me. I will test this the next time I touch that code which may be in a few days or weeks so in the meantime I will trust you and close the issue. I will reopen if needed. Thanks again.

[2019-02-19 18:16] #16 closed

[2019-02-24 08:35] ianeinser opened #18 "How to turn off "Accepted 0, rejected 0 files""
Hi,

how can i turn off the "Accepted 0, rejected 0 files"? I appreciate it.

Best regards,

Ian

[2019-02-24 09:02] ianeinser opened #19 "Country Picker for phone and country fields"
**Is your feature request related to a problem? Please describe.**
No.
**Describe the solution you'd like**
Phone and country fields are mandatory in many application process esp. in mobile application. User can select his/her country code from the list.

**Describe alternatives you've considered**
react-telephone-input

**Additional context**
Add any other context or screenshots about the feature

[2019-02-24 11:08] KaiHotz commented on #18
@ianeinser I just updated the Dropzone component, now the "Accepted 0, rejected 0 files" are deactivated by default and can be re-activated by passing the newly added `fileInfo` prop

[2019-02-24 11:08] #18 closed

[2019-02-24 11:13] KaiHotz commented on #19
@ianeinser sounds reasonable, i'll have a look at it

[2019-02-26 09:18] KaiHotz commented on #19
@ianeinser Hi i had a look at the recommended library `react-telephone-input` as well as on `react-phone-input` and `react-phone-input-2` and the code raised some red flags. Therefor i decided to start my own implementation for a phone input component that will be available as a stand alone on NPM and part of React-Formik-UI.

[2019-02-27 07:59] amitbravo opened #20 "Datepicker autocomplete not disabling or not working correct"
**Version**
"react-formik-ui": "1.2.4"

**Mode**
Default

**Describe the bug**
can we disable autocomplete/Datepicker's previously filled values to display , because if a user click on one of them , they are not selected at all. so either we stop displaying them or they should be selected somehow.

[2019-02-27 08:22] KaiHotz commented on #20
@amitbravo i strongly recommend that you update to the latest version (v2.2.4), since version-1 is not maintained anymore.

[2019-02-27 09:29] amitbravo commented on #20
updated to 2.2.4. still have it
![iedit](https://user-images.githubusercontent.com/16644357/53479941-2b786680-3aa0-11e9-8d3d-ff25841b9e01.gif)

[2019-02-27 12:46] KaiHotz commented on #20
@amitbravo have you tried to set `autoComplete="off"` on the `<Datepicker />` component ?

[2019-02-27 15:17] amitbravo commented on #20
it worked :)

[2019-02-27 15:17] #20 closed

[2019-02-27 16:55] KaiHotz commented on #20
@amitbravo Thats good to know, anyhow i just released v2.2.5 with a minor bug fix and disabled the autoComplete function of the Datepicker for good

[2019-03-08 21:01] KaiHotz commented on #19
@ianeinser You asked for it , and here it is, `<PhoneInput />` component was added. please update to lates version v2.3.1.

If you like the project and want to support my work, you can buy me a coffee :)
  https://paypal.me/kaihotz

[2019-03-08 21:01] #19 closed

[2019-03-09 15:01] MarcCoet opened #22 "WebpackError: ReferenceError: document is not defined"
**Version**
React-Formik-UI @ 2.3.3 (same problem with any 2.3 patch)

**Mode**
The mode you are using React-Formik-UI in,
[`Default`]

**Describe the bug**
Didn't change anything and seeing this error
[code]

... Sorry I am going to be lazy on the description since I guess the error will be obvious for you to find. If it is not, tell me what to try or what to tell you @KaiHotz.

**Additional cont

[2019-03-09 16:33] KaiHotz commented on #22
Ok, I investigated a bit, even spilled up a Gatsby site, the problem needs to be fixed on your webpack configuration and not on `React-Formik-Ui`. React-Formik-Ui since release 2.3 uses `React-Dropzone` v10 and `React-PhoneNr-Input` and those make use of some helper functions that need to access the `window` and `document` object of the browser. Since Gatsby is SSR the `window` and/or `document` o

[2019-03-09 16:40] KaiHotz commented on #22
I'll try to patch this up on my site, on React-Dropzone i could roll back to v9 and React-PhoneNr-Input ids from myself so i'll find a soluton on that one too

[2019-03-09 17:25] MarcCoet commented on #22
Thanks for looking at this. If you go that way It means that react-formik-ui is not SSR friendly anymore. That's a shame IMHO. =/
Usually when I happen to use such a library on a Gatsby Project I conditionally require the lib and and hide the depending components when SSR and only show them when in SPA mode.
That is what I will do if you decide to keep things that way.
I think a form library shoul

[2019-03-09 18:02] KaiHotz commented on #22
I'm totally with you on that. That is why i just fixed those issues.
You can now safely use the lates version (v2.3.8)

:)

[2019-03-09 18:13] #22 closed

[2019-03-10 15:18] MarcCoet commented on #22
Awesome. I didn't check thoroughly but the build is passing so I guess we are fine. Thanks.
Just out of curiosity, what did you chose to do?

[2019-03-10 16:43] KaiHotz commented on #22
Regarding the Dropzone component, i rolled back to v9 of React-Dropzone and on the PhoneInput i updted my React-PhoneNr-Input component where i'm checking that `window !== 'undefined'` on the helper method that detect whether is's on mobile or not

[2019-03-10 21:44] MarcCoet commented on #22
Makes sense. Thanks :)

[2019-04-06 14:14] jwanglof opened #25 "Types for TypeScript"
Awesome lib, love it! Makes everything so much easier with my forms ❤️

I would love to have types added to this library though. I just recently started using TS so I'm not sure how important it is, but I think it would be nice to be able to skip using `// @ts-ignore`

[2019-04-08 08:46] KaiHotz commented on #25
@jwanglof I have not considered adding typescript support, but i'm open for it, you can always submit a PR

[2019-04-13 13:30] SistemasSouza opened #26 "Style Bootstrap 4"
styled components with Bootstrap 4 not working

![image](https://user-images.githubusercontent.com/13488005/56080823-31ba6c00-5ddc-11e9-8349-017637228624.png)

![image](https://user-images.githubusercontent.com/13488005/56080826-3e3ec480-5ddc-11e9-9c70-008bfc7cbae4.png)

[2019-04-25 16:47] tushargargdaffodil opened #27 "TestSuites Fail with syntax Error"
**Version**
The version of React-Formik-UI that you are using :  "react-formik-ui": "^2.3.17"

**Mode**
The mode you are using React-Formik-UI in,
[`Default`]

**Describe the bug**
It is working in Browser, but gives syntax error in TestCases:
app/systems/components/react/SystemStartMonitoring.jest.jsx
  ● Test suite failed to run

    /data/frontend/node_modules/react-formik-ui/dist/index.js:1

[2019-04-29 13:16] kissjozsef opened #28 "Single file upload and refresh preview"
Hello,

is there a way to allow single file uploads only and update the preview ?
onDrop cabllack is not working.

solution ?
- add onDrop callback so we can configure it however we want it ?
- add multiple prop, and if its single don't concat values here
` const onDrop = acceptedFiles => {
    setFieldValue(name, values[name].concat(acceptedFiles))
    setFieldTouched(name, true)
  }`

or is ther

[2019-05-01 12:57] KaiHotz commented on #28
@kissjozsef Hi and thanks for using React-Formik-Ui.
Right now there is no solution to what you are asking.
The `onDrop` callback wont be configurable ever since it needs to be handled by the formik.
But i'll consider the idea of handling multiple and single file uploads though props.

Currently i'm working on a v3, that will come with a lot of improvements and also with your request

[2019-05-01 12:58] KaiHotz commented on #26
@SistemasSouza Hi and thanks for using React-Formik-Ui.
Right now there is no solution to what you are asking.

Currently i'm working on a v3, that will come with a lot of improvements and also with the solution to your request

[2019-05-01 12:58] #25 closed

[2019-05-03 08:44] kissjozsef commented on #28
@KaiHotz thanks for the feedback,
for now i added disabled property if the field has a value, and added button with onclick which calls setFieldValue to reset the value of the field

[2019-05-04 13:59] SistemasSouza commented on #26
Hi @KaiHotz thanks, waiting ✌✌✌✌

[2019-05-05 11:52] KaiHotz commented on #28
@kissjozsef That is a perfect valid option. Anyhow on the next mayor release (v3), a prop is added to enable a clear button and another prop for the multiple file upload.

[2019-05-05 18:05] KaiHotz commented on #28
@kissjozsef v3 has just been released, please refer to the documentation and style-guide from more information

[2019-05-05 18:05] #28 closed

[2019-05-05 18:06] KaiHotz commented on #26
@SistemasSouza v3 has just been released, please let me know that it now works with Bootstrap

[2019-05-05 21:00] #26 closed

[2019-05-05 21:01] KaiHotz commented on #27
@tushargargdaffodil  just released v3 please update and let me know if the error persists since i could not reproduce it

[2019-05-06 05:48] kissjozsef commented on #28
@KaiHotz thanks for the update

[2019-05-06 05:57] tushargargdaffodil commented on #27
Hi @KaiHotz
I already resolved that issue by adding it in 'transformIgnorePatterns' in jest.config file. Anyways thank you for the update.
Many Thanks
Tushar Garg

[2019-05-14 11:22] SistemasSouza opened #31 "Custom input mask"
Is possible have a input mask with this : 999.999.999-99

some example in the documentation

[2019-05-20 10:16] tushargargdaffodil commented on #27
Hi @KaiHotz
If I remove 'transformIgnorePatterns' from jest.config file and update the version of react-formik-ui, I face the same issue again.
Many Thanks
Tushar Garg

[2019-05-20 15:22] KaiHotz commented on #27
this is how your transformIgnorePatterns should look like

[code]

in case it is different please add it back to the `transformIgnorePatterns` because there is no need for you to run tests on and third part library from node_modules that you use

[2019-05-20 20:06] KaiHotz commented on #27
Hi @tushargargdaffodil
You can always summit an MR with a valid solution

[2019-05-21 05:18] tushargargdaffodil commented on #27
Hi  @KaiHotz
Solution is already mentioned, just add this in the jest.config file:

  transformIgnorePatterns: [
        'node_modules/(?!react-formik-ui/)'
    ],

[2019-05-21 05:18] #27 closed

[2019-06-05 07:58] shashankp250 opened #32 "onChange is not supported for select component"
<Select
                      name='coach'
                      label='Coach Name'
                      placeholder='Select Coach'
                      options={coaches}
                      onChange={(value)=>{console.log(value)}}
                      required
                    />

doesnt log value... please help

[2019-06-05 16:47] broskoski commented on #32
Experiencing the same issue.

[2019-06-05 20:16] KaiHotz commented on #32
Sorry Bit onChange is not a prop that can be set. It is internally used to set the value to  Formik. So there is no way you might log it

[2019-06-06 14:45] iPwnPancakes commented on #27
For those using react-scripts in CRA, replace the `test` script line with:
`"test": "react-scripts test --transformIgnorePatterns \"node_modules/(?!react-formik-ui/)\""`

[2019-06-08 21:49] KaiHotz commented on #32
The whole idea of React-Formik-UI is that you have an election of Form components that you can use without worrying on setting up onChange handlers and other Formik specific functions. In case you need more elaborated or custom components  please refer to Formik Documentation.

[2019-06-08 21:49] #32 closed

[2019-06-12 07:27] theonlydaleking commented on #32
@shashankp250 bit of a hacky solution but you can change your render method to this:

[code]

[2019-06-12 07:33] KaiHotz commented on #32
@shashankp250 you can also see the value set to formik by inspecting your Formik form in the developer console through React Dev tools

[2019-06-18 11:59] janimattiellonen opened #33 "Datepicker: When emptying field, date is set to 01/01/1970"
Can be reproduced on page https://kaihotz.github.io/react-formik-ui/#datepicker so I left out the more detailed bug report. Is this a "feature"?

[2019-06-22 02:51] KaiHotz commented on #33
Thanks for reporting this issue. It has been taken care off and is now fixed on version 3.0.9

[2019-06-22 02:51] #33 closed

[2019-07-15 04:02] leechingching opened #34 "Custom Radio Button"
Hello, I would like to create a custom radio radio button using this library. I am curious if I can insert a `<span>` after the `<input>`, so I can style my own radio box?

[2019-07-15 11:20] KaiHotz commented on #34
Sorry this won't be possible, but you may use the already existing Radio button and apply your styles to it.
you can find examples of the Radio Button here:
https://kaihotz.github.io/react-formik-ui/#radio

[2019-07-15 16:02] #34 closed

[2019-07-18 12:48] zbubric opened #35 "Example how to map checkbox to multiple value field"
Is it possible to define CheckBox group (e.g. multiple options mapping to the same value as array)

In case that is not currently supported, implementation proposal would be:
[code]
Btw, thank you for stunning lib!!!

[2019-07-18 13:13] KaiHotz commented on #35
@zbubric what you are looking for is the Radio button component

examples : https://kaihotz.github.io/react-formik-ui/#radio

[2019-07-18 13:36] zbubric commented on #35
@KaiHotz correct me if I'm wrong but, Radio should be used for selecting 1 option out of X (single choice). CheckBox group should be used to select y out of X (multiple choice).
Can I set Radio component to accept multiple values (I can not find that info)?

[2019-07-18 14:00] KaiHotz commented on #35
@zbubric yes you are right, anyhow a checkbox has a boolean value so mapping different values to the same name won't be possible.  In case you need to check multiple values then you need to use multiple checkboxes for that. You might map over your options object and return a Checkbox component for each option that you have. Keep in mind that every checkbox needs its own name so you wont override t

[2019-07-18 14:04] zbubric commented on #35
Ok, thx, I will try.
Anyhow, I stay with my proposal to add CheckBoxGroup component to lib :-)
I found some 'raw-formik'  examples on pastebin, if you need it for inspiration I can send it to you.

[2019-07-18 14:17] KaiHotz commented on #35
@zbubric that would be grate, you also might open an MR, and i'll consider it

[2019-07-18 14:18] zbubric commented on #35
Not considering myself experience enough for trying with PR but, maybe I can try..
Have a nice day

[2019-07-18 18:12] #35 closed

[2019-07-30 00:55] fernandofreicho opened #36 "Dropzone className doesnt work"
The className Props for Dropzone doesn't work. the div always comes with 'dropzone' class and I can`t change the style.
I want to change box of the dropzone but it is fixed by this dropzone class

`<div tabindex="0" class="dropzone">`

[2019-07-30 05:52] KaiHotz commented on #36
@fernandofreicho just published a fix for that, now it should work like expected, please update to latest version.

[2019-07-30 09:21] #36 closed

[2019-08-01 00:11] fernandofreicho commented on #36
It`s help, but I can`t change the solid border, the padding and the text align.

I want something like this:
![image](https://user-images.githubusercontent.com/32499736/62256464-c40c6d00-b3d7-11e9-8e2d-1ad740743266.png)

[2019-08-01 04:26] KaiHotz commented on #36
@fernandofreicho try overriding the styles with ```!important```

[2019-08-01 06:13] KaiHotz commented on #36
@fernandofreicho So i made some style updates to the DropZone component, hope you like it, anyhow you can still override some the styles but have in mind you need to add and ```!important``` to your styles

[2019-08-01 08:09] nisargmodi opened #37 "Checkbox group support?"
What's the best way to add a checkbox group?

[2019-08-01 08:45] KaiHotz commented on #37
@nisargmodi I just updated the examples on the Styleguides and added a Checkbox group example

https://kaihotz.github.io/react-formik-ui/#checkbox
[code]

[2019-08-01 09:14] #37 closed

[2019-08-15 15:41] chingchinglcc opened #38 "Could not load source file "src/lib/components/PhoneInput/styles.scss""
**Version**
"react-formik-ui": "^3.0.12",

**Mode**
[`Default`]

**Describe the bug**
Can't load the PhoneInput

[code]

**Desktop (please complete the following information):**
 - Browser [Chrome]

[2019-08-15 15:49] KaiHotz commented on #38
Version 0.0.19 of React-Formik-Ui is not maintained anymore and doesn’t have the PhoneInput component. Please update to the latest version (3.0.20) of React-Formik-Ui

[2019-08-15 15:57] KaiHotz commented on #38
By the way In version you mentioned Formik-Material-Ui, this would be a complete different library. Please clarify.

[2019-08-15 16:16] chingchinglcc commented on #38
@KaiHotz Sorry, my bad. I typed the wrong name and version

[2019-08-15 16:24] KaiHotz commented on #38
@chingchinglcc could you please update to version 3.0.20 ?

[2019-08-15 16:32] KaiHotz commented on #38
@chingchinglcc to be  save just uninstall React-Formik-Ui and install it again. You might have some  old version in your node-modules folder. i just tried it on a test app and got no error message. it must be something on your setup.

[2019-08-15 18:55] #38 closed

[2019-08-22 01:44] fernandofreicho opened #39 "Can I use the themed style only on radio?"
Can I use the theme style only on radio instead of entire form?

[2019-08-22 06:40] KaiHotz commented on #39
@fernandofreicho sorry this is not possible right now, but i'll consider it for a future release

[2019-09-02 13:34] SistemasSouza opened #40 "Multiple Select"
The  possibility of the on next version have a component multiple select

[2019-09-02 13:44] SistemasSouza commented on #31
I fix problem with a component custom using Field formik, follow code.

## custom component
[code]

## use

[code]
I hope to help someone

[2019-09-02 13:44] #31 closed

[2019-09-04 10:13] KaiHotz commented on #40
@SistemasSouza done, you can now add ```multiple``` prop to the select component. please update to version 3.1.0

[2019-09-04 10:13] #40 closed

[2019-09-12 06:12] Amritpd opened #42 "Enhancements to Dropzone"
**Is your feature request related to a problem? Please describe.**
Slightly related to an issue where it would be ideal for the file info message (e.g. X files acepted, Y files rejected) to reset to 0 when you press the Clear Files button.
![image](https://user-images.githubusercontent.com/9814488/64758414-89cbda80-d502-11e9-8174-ab27c3558051.png)

**Describe the solution you'd like**
Also, the co

[2019-09-12 06:32] Amritpd commented on #42
Also, instead of clearing all files, a great enhancement would be selectively removing individual files from the drop zone.

[2019-09-14 05:43] KaiHotz commented on #42
@Amritpd  so i investigated a bit more and resetting the accepted files from react-dropzone is not possible at the moment. For you to show already uploaded files is also not supported by react-dropzone since it doesn't expose the emit() method.
You might make your own implementation, first of all you would need to fetch the list of already uploaded files and set those on the formik state through `

[2019-09-14 05:43] #42 closed

[2019-09-17 18:59] Amritpd commented on #42
Great, thanks for looking into it so much!

Sure, I think I was trying something along the lines of that a few days before, but it is not that big of a deal. The main benefit I saw from this potential feature is that it would reduce the confusion users may have if they go to edit their document and see that the dropzone has 0 files, and they falsely assume that any previous files they uploaded hav

[2019-09-17 19:16] KaiHotz commented on #42
@Amritpd I see your point, sadly getting the name of the dropzone instance is not possible since react-dropzone dosen't use dropzone.js. it is HTML5-compliant drag'n'drop implementation and just a naming coincidence.

Oh by the way please don't use JQuery with React. Because React handles events directly and uses a virtual DOM, in theory using React should mean you simply don't need to use jQuery

[2019-09-18 15:21] hallcountymis opened #43 "Implement a robust number field"
**Is your feature request related to a problem? Please describe.**
It is difficult to customize the existing implementation of a number field (which is using Input with type number).

**Describe the solution you'd like**
Implement a standalone number field, perhaps using `react-number-format `

**Describe alternatives you've considered**
I began this request as a currency field but I feel like a m

[2019-09-18 15:39] KaiHotz commented on #43
@hallcountymis flexible sounds good but could you please describe your issue in more detail e.g:  what you are trying to accomplish and maybe give a code example ?

[2019-09-18 15:47] hallcountymis commented on #43
Sure! I have a few different use cases for such a field actually.

1. **Currency:** I would like to have the dollar sign prefix any number entered and have the commas and decimals as well.
2. **Social Security Number:** (xxx-xx-xxxx). I would like the dashes to appear automatically. I would also love for there to be a boolean prop to password mask the field so that I could set up triggers for onFo

[2019-09-18 16:12] KaiHotz commented on #43
Give it a try, i'll look into it to maybe add a separate component for a masked Input field.
By the way on the latest version you are able to add a custom onChange handler and value to the `<Input />`  component, but be aware if you do so you need to set the value in the `Formik` state with `setFieldValue` from `Formik`. But if you know how `Formik` works you'll figure this out.

Let me know how i

[2019-11-23 18:00] Moha-A opened #44 "Datepicker return minus one day in the json data"
<img width="1276" alt="Screenshot 2019-11-23 at 18 57 23" src="https://user-images.githubusercontent.com/56577467/69483094-6b982a00-0e23-11ea-8237-e374d63790ec.png">

[2019-11-23 20:07] Moha-A commented on #44
so, i found the solution.
the in initial Values must have Date() object to get the right form for the time

 <Formik
        initialValues={{
          inputValue: new Date(),
        }}

[2019-11-23 20:07] #44 closed

[2019-12-09 23:16] jpca999 opened #45 "Is there a way to provide custom name to the submit button ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-09 23:18] jpca999 opened #46 "how to give custom name to the submit button ?"
<SubmitBtn  style={GetCashOfferbtnStyle} />
Also on the website it says  use className to change the css but it doesnt work.

Heres the full code.

[import React from 'react';
import { Formik } from 'formik'
import { Form, Input, SubmitBtn } from 'react-formik-ui';

import GetCashOfferButton from '../../components/GetCashOfferButton';

const GetCashOfferbtnStyle = {
  background: '#f04134',
  colo

[2019-12-10 05:50] jpca999 commented on #46
I resolved it by replacing the current code with following:

 <button type="submit" className="btn"  style={GetbtnStyle} >
            Get Stuff Now
          </button>

[2019-12-10 05:50] #46 closed

[2019-12-10 05:58] jpca999 opened #47 "How can i change the color of the solid line below the input ?"
![Liberty_Trust_Group_App](https://user-images.githubusercontent.com/1026325/70499880-fbe69800-1ace-11ea-8f7d-30eedacceed9.jpg)

I want to change the color of the line to red. How do i do it ?

const customzedInput = {
  background: 'red !important',
}

  <Input
            className='customzedInput'
            required='true'
            name='Street Address'
            label='Street Address'

[2019-12-12 14:22] KaiHotz commented on #47
@jpca999 by changing the border-bottom property on ```.react-formik-ui.themed .form-element .input-wrapper::before```

[2019-12-12 14:23] #47 closed

[2019-12-12 14:24] KaiHotz commented on #45
@jpca999 could you please elaborate ? what name exactly would you be custom on the SubmitButton ?

[2019-12-12 18:34] jpca999 commented on #45
![image](https://user-images.githubusercontent.com/1026325/70739133-02d9fa00-1ccb-11ea-88ba-67621e916e0d.png)

[2019-12-13 07:59] KaiHotz commented on #45
@jpca999 well now you send me a picture of a Button but still haven't said what name you would like to be custom. If i had to guess it's not about a name but the text shown on the button. Well if you have a look at the documentation in the style guide, you'll see that the SubmitBtn has  a prop called children, that means that everything you wrap inside the SubmitBtn will be rendered.

```<SubmitBt

[2019-12-14 11:51] #45 closed

[2019-12-18 16:56] jpca999 commented on #47
so how do i change it for a specific component ,  ( not in the base css file ) ?

[2019-12-20 13:27] KaiHotz commented on #47
scope it by a custom className

[2020-01-16 04:53] middiu opened #49 "DropZone - Nested property does not work"
**Version**
^4.0.5

**Mode**
All

**Describe the bug**
Using DropZone, if the filed name is a nested field that application fails. For example:
[code]

**To Reproduce**
use the code below:
[code]

**Expected behavior**
nested values should be set

**Additional context**
The issue is at src/lib/components/DropZone/DropZone.js line 29
https://github.com/KaiHotz/react-formik-ui/blob/8c2784fcef14caba9

[2020-01-17 17:34] KaiHotz commented on #49
Actually ```files``` will always be just an array, if you need it to be a nested object you can capture that array in your submit function and convert the array into the object you need  before submitting it

[2020-01-19 06:44] middiu commented on #49
Sorry, maybe I was not clear.

What I mean is:

Formik Forms support natively complex objects and nested properties, please see the link below
https://jaredpalmer.com/formik/docs/guides/arrays

so let's say that I have an interrface like this:

[code]

so now, I want to use DropZone to capture some files (1 or many) into the variable **document:Files[]**, what I would normally do with any other fi

[2020-01-19 17:12] KaiHotz commented on #49
Well you are always welcome to submit a fix via a MR

[2020-01-27 18:31] leniel opened #50 "DatePicker required error message doesn't go away when a date is selected"
**Version**
4.0.5

**Mode**
The mode you are using React-Formik-UI in,
[`Structured`]

**Describe the bug**
The title says it all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kaihotz.github.io/react-formik-ui/#datepicker and pick Structured Required
2. Click the Submit button
3. Is Required is shown
4. Pick a date in the datepicker
5. Is Required is still visible

**Expecte

[2020-01-27 19:40] leniel opened #51 "Select with integer value is converted to string during form submit"
**Version**
4.0.5

**Mode**
The mode you are using React-Formik-UI in,
[`Structured`]

**Describe the bug**

A formik with initial values like this:

[code]

A select like this:

[code]

... integer values are being converted to string during form submit.

[code]

A workaround I used just before doing `JSON.stringigy(values)` was this:

[code]

**Expected behavior**
As values are integer when defi

[2020-02-01 12:44] KaiHotz commented on #51
@leniel Hi , this is actually how Formik handles the value during submit. It is not done by Ract formik UI but by Formik therefore you should raise this on Formik and not on React-Formik-UI.

[2020-02-01 12:45] #51 closed

[2020-02-01 13:40] KaiHotz commented on #50
@leniel yes it has been a real headache, i'm sort of out of ideas and open for  help on that.

[2020-02-01 13:50] KaiHotz commented on #50
@leniel resolved it, please update to v4.0.6

[2020-02-01 13:50] #50 closed

[2020-02-17 15:11] vicdashkov opened #52 "Add FieldArray to examples"
Documentation can be improved with an example on how to implement FieldArray with formik-ui.
Could be a huge time saver for some developers

[2020-02-17 17:26] KaiHotz commented on #52
@vicdashkov done, you can find a FieldArray example under the Input component documentation.
Thanks for the feedback.

[2020-02-17 17:26] #52 closed

[2020-03-30 17:36] Ralfargon opened #54 "FIELDSET - INPUT SIDE BY SIDE"
I want to put 2 INPUT site by side and below then other 2 within the FIELDSET.

Like:

NAME: XXXX     LASTNAME: XXXX
AGE: XXXX         GENDER: XXXX

Is it possible to do?

[2020-06-23 16:03] theomasego opened #55 "PhoneInput clears when I press backspace"
**Version**
The version of React-Formik-UI that you are using

**Mode**
The mode you are using React-Formik-UI in,
[`Default`]

**Describe the bug**
when I press backspace or left arrow, the whole input is cleared

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://development.shapasoweto.co.za/uikit/form'
2. Click on 'Phone number'
3. Scroll down to 'Phone number'
4. See error

*

[2020-06-24 13:01] KaiHotz commented on #55
@theomasego Yes this is a known issue, Formik Ui uses React-PhoneNr-input under the hood.
The issue lies actually in my other repo called React-PhoneNr-input,. I have been working on it to rewrite it in TS but for the moment there will be no fix since i'm pretty much occupied with my day job. you are more than welcome to dive into the code and submit a PR with a fix

[2020-10-03 06:57] KaiHotz commented on #55
Solved by implementing new version of React-phoneme-input

[2020-10-03 06:57] #55 closed

[2020-10-03 07:32] grosscorporation commented on #55
thanks

[2020-10-03 08:59] KaiHotz commented on #54
Sorry for the late response.
Yes it is possible, it can be done through styling, I would suggest to wrap your Input components with div’s and style the layout that you need

[2020-10-03 08:59] #54 closed

[2020-12-02 05:29] sharadkamal opened #56 "Dropzone styling"
is there a way to change the background color of the dropzone component?

[2020-12-02 07:17] KaiHotz commented on #56
Yes you can change it via css, `.react-formik-ui  .dropzone { background-color: #yourColor}`

[2020-12-02 07:21] KaiHotz commented on #56
Another option is to pass a className to the Dropzone component, and then via css:
`.yourClassName { background-color: #yourColor }`

[2020-12-02 07:21] #56 closed

[2020-12-10 05:59] sharadkamal opened #57 "Way to send only the updated field values using formik"
Hi I want to send only the changed values over to the API call, is there a way to send only the changed field values over a api put request? (is there a prop like dirty?)

[2020-12-10 06:04] KaiHotz commented on #57
Hi, sorry not that i know of, Formik gives you always all the values back in the onSubmit method. Formik doeas not identify what values have been changed. you might need to implement some solution of your own here. I recommend that you have a look at the Formik documentation [https://formik.org/docs/overview](https://formik.org/docs/overview)

[2020-12-14 07:46] atomsmas opened #58 "Dropzone get image url from s3 aws bucket"
Hi how do I integrate get image file api request from the aws s3 bucket on to the dropzone, I don't have any clue how to make this, could any one help?

[2020-12-16 07:38] sharadkamal opened #59 "Drop show image from url"
Hi, how do I show the image from a url response in the dropzone created, I'm using a get api request to view data.

[2021-01-14 12:39] jariz opened #60 "Allow components to be imported individually."
**Is your feature request related to a problem? Please describe.**
I want to be able to import components individually like:
[code]

because of multiple reasons:
- Importing `react-formik-ui` on NextJS yields the following error:
[code]
Running npm ls makes it clear that this is caused by the `react-phonenr-input`:
[code]
...which is not even an component I'm going to use at this moment.
- Treesha

[2021-01-16 04:19] KaiHotz commented on #60
Ok, done.
you can now import components individually by doing e.g:
```import DropZone from 'react-formik-ui/dist/DropZone'```

[2021-01-16 04:21] #60 closed

[2021-01-16 04:23] #57 closed

[2021-01-16 22:09] jariz commented on #60
Thanks!

[2021-04-12 09:40] p-j opened #61 "Custom Label Component"
Hi @KaiHotz,

I'm considering using `react-formik-ui` for a project, so first, thanks for putting this together, it looks really handy.
A concern of mine though, is that, down the line, I'd like to be able to provide custom styling/components to every pieces of UI, including label & hint or error messages which currently aren't easily styled when one's using CSS-in-Js setup.

I'm thinking of somet

[2021-04-12 10:13] KaiHotz commented on #61
Hi @p-j
Thanks for reaching out, i'm glad that you are considering using my library, of course I'll consider a PR for changes that you need.

[2021-05-06 19:09] p-j commented on #61
Hi!
in the end I didn't use your library as using Formik directly was better for my use case.
I'll close this issue for now.

[2021-05-06 19:09] #61 closed

[2021-05-12 10:52] KaiHotz commented on #61
@p-j That's fine, anyhow i just updated and implemented your suggestion

[2021-06-10 06:44] vishalqss opened #62 "React-Formik-UI checkbox's onChange event not accessible"
I am using checkbox from `react-formik-ui` and it seems I am not able to access the onChange event of this component after I recently updated my `react-formik-ui` from version `4.0.3` to `5.1.9` and updated formik from version `2.0.8` to `2.2.6`.

Implementation of the checkbox:

[code]

I am not able to run the onChangeHandler through onChange event and even the console log is not coming.

[2021-06-10 09:12] KaiHotz commented on #62
Since v5 the Checkbox does not receive onChange anymore it is handled under the hood directly by the component.
Also if you using v5 please update to v5.1.11, you don't need to use the <Field /> component here you can just render the Checkbox component without onChange, Formik will take care of it for you, in case you need to handle side effects on value change you can do this with an useEffect ho

[2021-07-20 12:11] #62 closed

[2021-08-06 19:08] jamessizeland opened #64 "IFormikUiFormProps interface typo"
**Version**
5.4.4

**Mode**
Structured
[`Default`, `Structured` or `Themed`]

**Describe the bug**
Form.d.ts IFormikUiFormProps Interface styling union has a typo for 'structure'.
Line reads:     styling?: 'default' | 'structue' | 'theme';

**To Reproduce**
Copied Structured Form example code, https://kaihotz.github.io/react-formik-ui/#form

[2021-08-11 09:51] KaiHotz commented on #64
fixed, thanks for the catch

[2021-08-11 09:51] #64 closed